.product-image {
    max-width: 100%; 
    height: 100%;   
  }

  /* @media (max-width: 576px) {
   
    .buttons {
      flex-direction: row; 
      align-items: center;
    }
    .btn {
      margin-bottom: 10px;
    }
  } */

  /* In your Products.css file */
.yep {
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap into multiple rows */
  justify-content: center; /* Center buttons horizontally */
  gap: 10px; /* Add spacing between buttons */
}

.no {
  flex: 1; /* Distribute available space evenly among buttons in a row */
  min-width: 150px; /* Set a minimum width for each button */
  height: 50px; /* Uniform height for buttons */
}
